In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('market_data.csv')

In [3]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
df.shape

(8523, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [6]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [7]:
# Problem 1: Missing Values (NULLs)
# Item_Weight and Outlet_Size have many missing values, which can affect pricing, sales, and outlet analysis.
# Solution: Item_Weight was filled using average weight of the same Item_Type, and Outlet_Size was filled using the most frequent value per Outlet_Type.

In [8]:
df['Item_Weight'].isnull().sum()

1463

In [9]:
df['Item_Weight'].mean()

12.857645184136183

In [10]:
df['Item_Weight'].fillna(df['Item_Weight'].mean(), inplace = True)

In [11]:
df['Item_Weight'].isnull().sum()

0

In [12]:
df[df['Outlet_Size']== 'Medium']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300000,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920000,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500000,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
5,FDP36,10.395000,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
7,FDP10,12.857645,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
...,...,...,...,...,...,...,...,...,...,...,...,...
8506,DRF37,17.250000,Low Fat,0.084676,Soft Drinks,263.1910,OUT018,2009,Medium,Tier 3,Supermarket Type2,3944.8650
8511,FDF05,17.500000,Low Fat,0.026980,Frozen Foods,262.5910,OUT018,2009,Medium,Tier 3,Supermarket Type2,4207.8560
8515,FDH24,20.700000,Low Fat,0.021518,Baking Goods,157.5288,OUT018,2009,Medium,Tier 3,Supermarket Type2,1571.2880
8516,NCJ19,18.600000,Low Fat,0.118661,Others,58.7588,OUT018,2009,Medium,Tier 3,Supermarket Type2,858.8820
8521,FDN46,7.210000,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976

In [13]:
df['Outlet_Size'].value_counts(dropna = False)

Medium    2793
NaN       2410
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [14]:
df['Outlet_Size'].dropna(axis = 0)

0       Medium
1       Medium
2       Medium
4         High
5       Medium
         ...
8517     Small
8518      High
8520     Small
8521    Medium
8522     Small
Name: Outlet_Size, Length: 6113, dtype: object

In [15]:
df['Outlet_Size'].value_counts(dropna = False)

Medium    2793
NaN       2410
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [16]:
df['Outlet_Size'].mode()

0    Medium
dtype: object

In [17]:
df['Outlet_Size'].fillna(df['Outlet_Size'].mode()[0], inplace = True)

In [18]:
df['Outlet_Size'].value_counts(dropna = False)

Medium    5203
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [19]:
#Problem 2: Inconsistent Category Values
# Item_Fat_Content has different names for the same category like Low Fat, low fat, LF, Regular, and reg.
# Solution: All similar values were standardized into common labels to avoid wrong grouping and analysis.

In [20]:
df['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [21]:
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace({'low fat': 'Low Fat', 'LF': 'Low Fat', 'reg': 'Regular'})

In [22]:
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [23]:
# Problem 3: Zero Item Visibility
# Item_Visibility contains zero values, which are not realistic because items cannot have zero visibility.
# Solution: Zero values were replaced with the mean visibility of the corresponding Item_Type.

In [24]:
df['Item_Visibility']= df['Item_Visibility'].replace(0, np.nan)

In [25]:
df['Item_Visibility']

0       0.016047
1       0.019278
2       0.016760
3            NaN
4            NaN
          ...
8518    0.056783
8519    0.046982
8520    0.035186
8521    0.145221
8522    0.044878
Name: Item_Visibility, Length: 8523, dtype: float64

In [26]:
df['Item_Visibility'].isnull().sum()

526

In [27]:
df['Item_Visibility'].median()

0.057792343

In [28]:
df['Item_Visibility'].fillna(df['Item_Visibility'].median(), inplace = True)

In [29]:
df['Item_Visibility'].isnull().sum()

0

In [30]:
# Problem 4: Feature Engineering Issue (Hidden Information)
# Item_Identifier contains hidden category information (FD, DR, NC) that is not directly used.
# Solution: The first two characters were extracted to create a new Item_Category column.

In [31]:
df['Item_Identifier'].value_counts()

FDW13    10
FDG33    10
NCY18     9
FDD38     9
DRE49     9
         ..
FDY43     1
FDQ60     1
FDO33     1
DRF48     1
FDC23     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [32]:
df['Item_Identifier']= df['Item_Identifier'].str[:2].replace({ 'FD': 'Food', 'DR': 'Drinks', 'NC': 'Non-Consumable'})

In [33]:
df['Item_Identifier'].value_counts()

Food              6125
Non-Consumable    1599
Drinks             799
Name: Item_Identifier, dtype: int64

In [34]:
# Problem 5: Wrong Fat Content for Non-Consumables
# Non-consumable items were incorrectly assigned fat content values like Low Fat or Regular.
# Solution: Fat content for all non-consumable items was changed to "Not Applicable".

In [35]:
df.loc[df['Item_Identifier']=='Non-Consumable', 'Item_Fat_Content'] = 'Non-Counsumable'

In [36]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,Food,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,Drinks,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,Food,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,Food,19.20,Regular,0.057792,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,Non-Consumable,8.93,Non-Counsumable,0.057792,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [37]:
#Problem 6: Outlet Establishment Year Needs Transformation
# Outlet_Establishment_Year alone does not give useful information for modeling.
# Solution: The year was converted into Outlet_Age to make it more meaningful.

In [38]:
df['Outlet_Year'] = 2025 - df['Outlet_Establishment_Year']

In [39]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Year
0,Food,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,26
1,Drinks,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,16
2,Food,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,26
3,Food,19.20,Regular,0.057792,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800,27
4,Non-Consumable,8.93,Non-Counsumable,0.057792,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,38

In [40]:
#Problem 7: Duplicate Rows Check
# Duplicate rows can cause repeated information and wrong analysis.
# Solution: The dataset was checked and no duplicate rows were found.

In [41]:
df.duplicated().sum()

0

In [42]:
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
Outlet_Year                  0
dtype: int64

In [43]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Outlet_Year
0,Food,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,26
1,Drinks,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,16
2,Food,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,26
3,Food,19.20,Regular,0.057792,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800,27
4,Non-Consumable,8.93,Non-Counsumable,0.057792,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,38

In [44]:
df.to_csv('cleaned_market_data.csv', index = False)